#div_botoes button, #div_botoes_publi button{
    margin-right: 20px;
    margin-left: 20px;
    background: none;
    border: none;
    
}

#main_feed {
    background-color: white;
}

#div_botoes, #div_botoes_publi{
    margin-top: 20px;
    
    justify-content: center;
}

#div_botoes a{
    color: white;
}

#div_botoes_publi svg:hover{
    fill: #20df15;
}


#div_botoes svg:hover {
    stroke: #20df15;
}

#div_perfil span, #div_perfil svg{
    color: green;
}

#div_perfil span:hover, #div_perfil svg:hover{
    color: rgb(21, 223, 21);
}

#div_posts {
    padding: 20px;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:#84a454 ;
}

#post1, #post2, #subdiv_post1, #subdiv_post2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#post1, #subdiv_publicar{
    margin-bottom: 16px;
}

#subdiv_post2 {
    width: 845px;
}


#subdiv_post1, #subdiv_post2, #subdiv_publicar{
    background-color:#3b481dc4;
    padding: 20px;
    padding-right: 30px;
    border-radius: 20px;
    color: white;
}

#div_posts p{
    padding-right: 20px;
}

#text_area_denuncia{
    border-radius: 5px;
    border-color: lightgrey;
    height: 150px;
    width: 70%;
}